@using EGH01.Core;
@using EGH01DB.Primitives;

@using EGH01DB.Objects;
@using EGH01DB.Primitives;
@using EGH01.Core;
@using EGH01.Models;
@using EGH01.Models.EGHRGE;
@using EGH01DB;

@model List<Report>
@{

   
    Menu menu = new Menu(
                    new Menu.MenuItem("Просмотреть отчет", "Report.Watch", true),
                    new Menu.MenuItem("Сохранить комментарий", "Report.SaveComment", true),
                    new Menu.MenuItem("Удалить", "Report.Delete", true)
                   );

}
@foreach (Report t in @Model)
{
 
    using (Html.BeginForm("Report", "EGHRGE"))
    {

        <div class="box">
            <div class="boxdata">
                <p><label class="boxdata-label-40 ">@t.line.ToString()</label></p>
                <p><input class="boxdata-input-20" type="text" name="comment" value=" " /></p>
                <p><label class="boxdata-label-40 ">@t.comment.ToString()</label></p>
                <input type="hidden" value="@t.id" name="id">

            </div>
            @Html.Partial("_TypeLineMenu", menu)
     
        </div>

    }
}



