@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;
@using System.Web.Mvc;
@model EGH01DB.Primitives.Report
@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
    EGH01.Models.EGHRGE.ReportView rv = new EGH01.Models.EGHRGE.ReportView();
      
   //  string k = ViewBag.msg;
               // @ViewBag.msg
}
  

@using (Html.BeginForm("ReportWatch", "EGHRGE"))
{

        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Index</title>
        </head>
        <body>
            <div>
                @ViewBag.msg
               
            </div>
        </body>
    </html>
      
     
    
}

