@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;

@model EGH01DB.RGEContext
@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";

}

@using (Html.BeginForm("ReportWatch", "EGHRGE"))
{

    <div class="box">
       qw
    </div>
}

