html, body {
    padding: 0px;
    height: 100%;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.navbar .dropdown-menu li a{
    padding: 8px 20px;

}
.osnova {
    padding-top:10px;
    background:#eeffee; /*новый фон*/
}
.navbar-brand {
    padding:0px;
}
.navbar-brand img{
    padding:0px;
    padding-left:15px;
    height:50px;
}
.panel-title {
    font-size:25px;
}
.dsblock input, .dsblock select{
    display:block;
}
.mesto input{
    width:60px;
}
.textbold {
    font-style: italic;
    font-weight: bold;
}
.form-group {
    margin-bottom:25px;
}
.carta {
    background:#013d02;
    height:500px;
}
/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto 50px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
height: -50px;
}

.proverka1 > a,.proverka1 > div{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border: none;
    color: #444444;
    background-color: #ffffff;
    display: inline-block;
    margin: 10px 10px 0 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    #013d02-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    vertical-align:top;
}
.panel-success > .panel-heading {
    background:#85DB18;
}
#spravochniki_list{
    list-style-type:none;
    padding:0;
}

.navbar{
	background:#fc7a1e;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 200px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #f2cb9b;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #f98d09;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #f2cb9b;
}

.validation-summary-valid {
    display: none;
}

/*заголовок */
.title h2 {
    color: #013d02;
    font-size: 30px;
	vertical-align:middle;
    font-weight:bold;
    margin:10px;
    }
/*меню*/
a.dropdown-toggle.btn.btn-link {
    color: #013d02;
    font-size: 20px;
}
/*второе меню*/
.proverka1.navbar-default .navbar-nav > li > a, .proverka1 a.dropdown-toggle.btn.btn-link{
    color: #02470f;
    font-size: 16px;
}
.proverka1.navbar-default{
    background:#f9df86;
    position:relative;
   }

/**    не трогать   смелов       */
        body {
            color: black;
        }

        *::after {
            content: "";
        }

        label[aria-required]::after {
            content: "*";
            color: red;
        }

        .boxmenu {
            box-sizing: border-box; /* границу включить в размер .box*/
            background-color: #fc7a1e; /* беж*/
            overflow: hidden;
           border: 2px solid #ffbb40; /* светло-зелен.*/
            width: 85%;
            margin: 12px;
            padding: 1px;
            min-width: 800px;
        }

        .boxconnect, .boxcainfo {
            box-sizing: border-box;
            background-color: #fc7a1e;
            overflow: hidden;
           border: 2px solid #75cc72;
            width: 85%;
            margin: 12px;
            padding: 1px;
            min-width: 800px;
        }

        .boxconnect-boxitem, .boxcainfo-boxitem {
            border: 2px solid #013d02; /* темно-зеленый*/
            padding: 12px;
        }

            .boxconnect-boxitem label, .boxcainfo-boxitem label {
                width: 10%;
                margin: 10px;
            }

            .boxconnect-boxitem input {
                width: 20%;
                margin: 10px;
            }

            .boxconnect-boxitem button, .boxcainfo-boxitem button {
                float: right;
                background-color: #f2fcbd;
                color: #013d02;
                font-weight: bold;
                padding: 10px;
                border: 2px solid #013d02;
                margin: 5px;
            }

        .box-fieldset {
            display: block;
            margin: 5px;
        }

        .boxcainfo-boxitem-fieldset {
            display: block;
            margin: 2px;
        }

        .boxcainfo-boxitem-buttonlist {
            display: block;
            float: right;
            margin: 2px;
        }

        .boxmenu-buttonlist {
            border: 2px solid #013d02;
            padding: 5px;
        }

        .box-close {
            float: right;
            /*border:1px solid #013d02;*/
            background-color: #f2fcbd;
            padding: 0px 0px 0px 0px;
            margin: 2px;
            border: none;
        }

        .boxmenu button {
            background-color: #f2fcbd;
            color: #013d02;
            font-weight: bold;
            margin: 5px;
            padding: 10px;
            border: 2px solid #013d02;
        }

            .boxmenu button[disabled] {
                background-color: #f2fcbd;
                color: gray;
                font-weight: bold;
                margin: 5px;
                padding: 10px;
                border: 2px solid #013d02;
            }

        .box {
            box-sizing: border-box; /* границу включить в размер .box*/
            overflow: hidden; /* все что вылезает за границу .box  - скрывать*/
            border: 2px solid #013d02;
            width: 85%;
            background-color: #f9df86; /**/
            margin: 12px;
            padding: 1px;
            min-width: 800px;
        }

            .box .boxdata {
                margin: 5px;
                width: 100%;
            }

        .boxdata label {
            width: 25%;
            float: left;
        }
       
        .boxdata-label-30 {
            width: 1%;
            float: left;
        }
        .boxdata-label-40 {
            width: 70%;
            float: left;
        }


        .box p {
            margin: 1px;
        }

        .boxdata span {
            width: 25%;
            float: none;
        }

        .boxdata .leftboxdata {
            width: 50%;
            float: left;
        }

        .boxdata .rightboxdata {
            width: 50%;
            float: right;
        }

        .leftboxdata label {
            width: 50%;
            float: left;
        }

        .rightboxdata label {
            width: initial;
            float: left;
            margin-right: 10%;
        }

        .boxdata-input-20 {
            width: 20%;
        }

        .boxdata-input-30 {
            width: 30%;
        }

        .boxdata-input-50 {
            width: 50%;
        }

        .boxdata input[disabled] {
            background-color: #f2fcbd; /*кнопки светлосалатовые);*/
            color: black;
            border: none;
        }

        .boxcontrol {
            margin: 1px;
            background-color: #fc7a1e;
            padding: 2px;
            text-align: right;
            border: 1px solid #013d02;
            clear: both;
        }

            .boxcontrol input, button {
                background-color: #f2fcbd;
                color: #013d02;
                font-weight: bold;
                border: 1px solid #013d02;
            }

          .boxcontrol input[disabled], button[disabled] {
                    background-color: #f2fcbd;
                    color: gray;
                    font-weight: bold;
                    border: 1px solid #013d02;
               }

        .boxmessage {
            display: none;
            margin: 1px;
            background-color: #fcb86f;
            padding: 2px;
            border: 1px double #013d02;
            /*text-align:right;*/
        }


/*    не трогать          */*/*/


/* Минимально необходимый CSS для footer*/

 #footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #f9d675; /* Цвет фона */
    color: #0e210b; /* Цвет текста */
    width: 100%; /* Ширина слоя */

    