@using EGH01DB.Objects;
@using EGH01DB.Primitives;
@using EGH01.Core;
@using EGH01.Models.EGHCEQ;
@model EGH01DB.CEQContext
@{
    
    List<SelectListItem> reportlist = new List<SelectListItem>
    {
           new SelectListItem{ Text = "225-П-2016-11-20 АЗС № 21", Value = "221",  Selected = true},
           new SelectListItem{ Text = "224-П-2016-11-20 Нефтебаза 28", Value = "222",  Selected = false},
           new SelectListItem{ Text = "223-П-2016-11-20 АЗС № 336", Value = "223",  Selected = false},
           new SelectListItem{ Text = "222-П-2016-11-20 ", Value = "224",  Selected = false}

    };
    
    ChoiceForecastResultContext context = Model.GetViewContext("ChoiceForecastResult") as ChoiceForecastResultContext;
   
    Menu start = new Menu(
                          new Menu.MenuItem("Выбрать",    "ChoiceForecastResult.Choice", true),
                          new Menu.MenuItem("Отказаться", "ChoiceForecastResult.Cancel", true)
                          );

    if (context != null && context.id != null)
    {
        SelectListItem si = reportlist.FirstOrDefault(s => s.Value.Equals(context.id.ToString()));
        si.Selected = true; 
    
    } 
   
}

@using (Html.BeginForm("ChoiceForecastResult", "EGHCEQ"))
{

    <div class="box">
        <h3>Результаты прогнозирования</h3>
        <div class="boxdata" style="margin:5px;">
            @Html.DropDownList("ChoiceForecastResult.id", reportlist, new { size = reportlist.Count, style = "height:100px; width:97%; padding:5px;" })
        </div>
       
        @Html.Partial("_TypeLineMenu", start)
    </div>
}