@using EGH01DB.Objects;
@using EGH01DB.Primitives;
@using EGH01.Core;
@using EGH01.Models.EGHCEQ;
@model EGH01DB.CEQContext
@{
    
    
    CEQViewContext context = Model.GetViewContext("ChoiceForecastResult") as CEQViewContext;
    if (context == null) {Model.SaveViewContext("ChoiceForecastResult", context = new CEQViewContext()); };
    
}

@if (context.ecoevalution != null)
{
    <div class="box">
        <h4>@Html.ActionLink(context.ecoevalution.line, "Index")</h4>
    </div>
}

  