@using EGH01DB.Objects;
@using EGH01DB.Primitives;
@using EGH01.Core;
@model EGH01DB.CEQContext
@{
    ViewBag.Title = "ChoiceFoecastResult";
    Layout = "~/Views/Shared/EGHLayout.cshtml";
   
    List<SelectListItem> reportlist =    new List<SelectListItem>
    {
           new SelectListItem{ Text = "225-П-2016-11-20 АЗС № 21", Value = "222",  Selected = true}, 
           new SelectListItem{ Text = "224-П-2016-11-20 Нефтебаза 28", Value = "222",  Selected = false}, 
           new SelectListItem{ Text = "223-П-2016-11-20 АЗС № 336", Value = "222",  Selected = false}, 
           new SelectListItem{ Text = "222-П-2016-11-20 ", Value = "222",  Selected = false} 

    };
    // Menu.MenuItem mitem = new Menu.MenuItem("Географическая точка", "Forecast.Point", false);
    Menu start = new Menu(
                          new Menu.MenuItem("Выбрать",    "ChoiceForecastResult.Choice", true),
                          new Menu.MenuItem("Отказаться", "ChoiceForecastResult.Cancel", true)
                          );
    

}

<h2>ChoiceForecastResult</h2>
@ViewBag.msg
@using (Html.BeginForm("ChoiceForecastResult", "EGHCEQ"))
{

    <div class="box">
       <div class="boxdata" style="margin:5px;" >
           @Html.DropDownList("id", reportlist,  new { size = reportlist.Count, style="height:100px; width:97%; padding:5px;" })
       </div>
      @*<button type="submit"> Выбор</button>*@
   
    
        @Html.Partial("_TypeLineMenu", start)
     </div>
}

