@using EGH01DB.Objects;
@using EGH01DB.Primitives;
@using EGH01.Core;
@using EGH01.Models.EGHCEQ;
@using EGH01;
@model EGH01DB.CEQContext

@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";

    CEQViewContext context = Model.GetViewContext("ChoiceForecastResult") as CEQViewContext;
    if (context == null) { Model.SaveViewContext("ChoiceForecastResult", context = new CEQViewContext()); };
}

 @switch (context.RegimEvalution)
 {
     case CEQViewContext.REGIM_EVALUTION.INIT:   
                        @Html.Partial("_ConfirmChoiceForecastResult", @Model)
         break;

     case CEQViewContext.REGIM_EVALUTION.REPORT:                             
     case CEQViewContext.REGIM_EVALUTION.CHOICE:  
                        @Html.Partial("_ConfirmChoiceForecastResult", @Model)
                        using (Html.BeginForm("ChoiceForecastResult", "EGHCEQ"))
                        {

                         <div class="box">
                            <h3>ОТЧЕТ-ОЦЕНКА</h3>

                            @*@Html.Partial("_TypeLineMenu", start)*@
                         </div>
                        }
                        break;
                        
     default: break;
 
 }  





