@using EGH01.Core;
@using EGH01.Models.EGH;

@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu head = new Menu(
                          new Menu.MenuItem("Создать", "PetrochemicalType.Create", false),
                          new Menu.MenuItem("Excel-формат", "PetrochemicalType.Excel", false)
                        );

    Menu create = new Menu(
                          new Menu.MenuItem("Создать", "PetrochemicalType.Create.Create", true),
                          new Menu.MenuItem("Отказаться", "PetrochemicalType.Create.Cancel", true)
                        );

}
@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHCCO", Action = "PetrochemicalType", Menu = head })

@using (Html.BeginForm("PetrochemicalTypeCreate", "EGHCCO"))
{

    <div class="box">
        <div class="boxdata">
            <div class="boxdata">
                <label class="boxdata-label-30">Наименование нефтепродукта</label>
                <input class="boxdata-input-50" type="text" name="Name" value=" " />
            </div>
            <div class="boxdata">
                <label class="boxdata-label-30">Температура кипения, <sup><small>о</small></sup>С</label>
                <input class="boxdata-input-50" type="number" step="0.1" name="Boilingtemp" value=" " />
            </div>
            <div class="boxdata">
                <label class="boxdata-label-30">Плотность, кг/м<sup><small>3</small></sup></label>
                <input class="boxdata-input-50" type="number" step="0.1" name="Density" value=" " />
            </div>
            <div class="boxdata">
                <label class="boxdata-label-30">Кинематическая вязкость, мм<sup><small>2</small></sup>/см</label>
                <input class="boxdata-input-50" type="number" step="0.1" name="Viscosity" value=" " />
            </div>
            <div class="boxdata">
                <label class="boxdata-label-30">Растворимость, млг/дм<sup><small>2</small></sup></label>
                <input class="boxdata-input-50" type="number" step="0.1" name="Solubility" value=" " />
            </div>
            <div class="boxdata">
                <label class="boxdata-label-30">Динамическая вязкость, кг/м*с</label>
                <input class="boxdata-input-50" type="number" step="0.1" name="Dynamicviscosity" value=" " />
            </div>
            <div class="boxdata">
                <label class="boxdata-label-30">Коэф. поверхностного натяжения, кг/с<sup><small>2</small></sup></label>
                <input class="boxdata-input-50" type="number" step="0.1" name="Tension" value=" " />
            </div>
            <div class="boxdata">
                <label class="boxdata-label-30">Коэф. диффузии, м<sup><small>2</small></sup>/с</label>
                <input class="boxdata-input-50" type="number" step="0.1" name="Diffusion" value=" " />
            </div>

        </div>
                @Html.Partial("_TypeLineMenu", create)
           
   </div>
}

