@using EGH01.Core;
@using EGH01.Models.EGH;

@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu head = new Menu(
                          new Menu.MenuItem("Создать", "PetrochemicalCategories.Create", false),
                          new Menu.MenuItem("Excel-формат", "PetrochemicalCategories.Excel", false)
                        );

    Menu create = new Menu(
                          new Menu.MenuItem("Создать", "PetrochemicalCategories.Create.Create", true),
                          new Menu.MenuItem("Отказаться", "PetrochemicalCategories.Create.Cancel", true)
                        );

}
@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHCCO", Action = "PetrochemicalCategories", Menu = head })

@using (Html.BeginForm("PetrochemicalCategoriesCreate", "EGHCCO"))
{

    <div class="box">
       <div class="boxdata">
 
               <p>
                   <label class="boxdata-label-30">Наименование категории нефтепродукта</label>
                   <input class="boxdata-input-50" type="text" name="Name" value=" " />
               </p>
              
           </div>  
                @Html.Partial("_TypeLineMenu", create)
           
   </div>
}

