@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;
@using EGH01DB.Types;
@model EGH01DB.RGEContext

@{

    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu start = new Menu(
                          new Menu.MenuItem("Создать", "GroundType.Create", true),
                          new Menu.MenuItem("Отказаться", "GroundType.Cancel", true)
                        );

    Menu create = new Menu(
                          new Menu.MenuItem("Создать", "GroundType.Create.Create", true),
                          new Menu.MenuItem("Отказаться", "GroundType.Create.Cancel", true)
                        );

}

@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHRGE", Action = "GroundType", Menu = start})
@using (Html.BeginForm("GroundTypeCreate", "EGHRGE"))
{


    <div class="box">
        <div class="boxdata">
            <label class="boxdata-label-30"> Наименование </label>
            <input class="boxdata-input-30" type="text" name="name" />
        </div>
        <div class="boxdata">
            <label class="boxdata-label-30">Пористость</label>
            <input class="boxdata-input-30" type="number" name="porosity" min="0" max="1" step="0.01" />
        </div>
        <div class="boxdata">
            <label class="boxdata-label-30">Коэффициент диффузии (м2/с)</label>
            <input class="boxdata-input-30" type="number" name="diffusion" min="0" max="1" step="0.01" />
        </div>
        <div class="boxdata">
            <label class="boxdata-label-30">Коэффициент распределения</label>
            <input class="boxdata-input-30" type="number" name="distribution" min="0" max="1" step="0.01" />
        </div>
        <div class="boxdata">
            <label class="boxdata-label-30">Коэффициент сорбции (1/с)</label>
            <input class="boxdata-input-30" type="number" name="sorption" min="0" max="1" step="0.1" />
        </div>
        <div class="boxdata">
            <label class="boxdata-label-30">Водопроницаемость (м/с)</label>
            <input class="boxdata-input-30" type="number" name="permeability" min="0" max="1" step="0.001" />
        </div>
        <div class="boxdata">
            <label class="boxdata-label-30">Влажность</label>
            <input class="boxdata-input-30" type="number" name="soilmoisture" step="0.01" min="0" max="1" />
        </div>
        <div class="boxdata">
            <label class="boxdata-label-30">Влагоемкость</label>
            <input class="boxdata-input-30" type="number" name="watercapacity" step="0.01" min="0" max="1" />
        </div>
        <div class="boxdata">
            <label class="boxdata-label-30">Коэффициент фильтрации (м/с)</label>
            <input class="boxdata-input-30" type="number" name="waterfilter"      min="0.0000001" max="1.0" step="0.0000001" />
        </div>
        <div class="boxdata">
            <label class="boxdata-label-30">Коэффициент Аверьянова</label>
            <input class="boxdata-input-30" type="number" name="аveryanovfactor" step="0.1" min="3" max="9" />
        </div>
        <div class="boxdata">
            <label class="boxdata-label-30">Коэффициент задержки нефтепродукта</label>
            <input class="boxdata-input-30" type="number" name="holdmigration" step="0.1" min="0" />
        </div>




        @Html.Partial("_TypeLineMenu", create)
    </div>
}

