@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;
@using EGH01DB.Types;
@model EGH01DB.RGEContext

<h2>SpreadingCoefficient</h2>
@{


    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu head = new Menu(
                          new Menu.MenuItem("Создать", "SpreadingCoefficient.Create", true),
                          new Menu.MenuItem("Excel-формат", "SpreadingCoefficient.Excel", true)
                        );

    List<SpreadingCoefficient> list = new List<SpreadingCoefficient>();
    if (@Model != null) { Helper.GetListSpreadingCoefficient(@Model, ref list); };

}


@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHRGE", Action = "SpreadingCoefficient", Menu = head })
@Html.Partial("_SpreadingCoefficientList", list)

