@using EGH01DB.Objects;
@using EGH01DB.Primitives;
@using EGH01.Core;
@using EGH01DB.Primitives
@using EGH01.Models;
@using EGH01.Models.EGHORT;
@using EGH01DB;
@model EGH01DB.ORTContext
@{
    
    ORTContextView context = (ORTContextView)Model.GetViewContext(ORTContextView.VIEWNAME);
    if (context == null) {Model.SaveViewContext(ORTContextView.VIEWNAME, context = new ORTContextView()); };
    
    List<SelectListItem> reportlist = new List<SelectListItem>();
    {
        List<EGH01DB.GEAContext.ECOClassification> list = new List<EGH01DB.GEAContext.ECOClassification>();


        if ( Helper.GetListECOClassification(Model,  ref list))
        {
         foreach (GEAContext.ECOClassification c in list)
         {

                reportlist.Add(
                                new SelectListItem { 
                                                     Text =  c.line,
                                                     Value = c.id.ToString()
                                                     }

                                );  
           }            
            
         }
       }
   
     if (context.idclassification != null)
    {
        SelectListItem si = reportlist.FirstOrDefault(s => s.Value.Equals(context.idclassification.ToString()));
        si.Selected = true; 
    
    }
  
 }



@Html.Partial("_ConfirmChoiceClassificationResult", Model)

@if (context.Regim == ORTContextView.REGIM.INIT)
{
  using (Html.BeginForm("ChoiceClassificationResult", "EGHORT"))  
  {

    <div class="box">
        <h3>Результаты классификации результатов прогнозирования</h3>
        <div class="boxdata" style="margin:5px;">
            @Html.DropDownList("ChoiceClassification.id", reportlist, new { size = reportlist.Count, style = "height:100px; width:97%; padding:5px;" })
        </div>
       
        @Html.Partial("_TypeLineMenu",new Menu(
                                                new Menu.MenuItem("Выбрать",    "ChoiceClassification.Choice", true),
                                                new Menu.MenuItem("Отказаться", "ChoiceClassification.Cancel", true)
                                               ))
    </div>
  }

}


