@using EGH01DB.Objects;
@using EGH01DB.Primitives;
@using EGH01.Core;
@using EGH01DB.Primitives
@using EGH01.Models;
@using EGH01.Models.EGHORT;
@using EGH01DB;
@model EGH01DB.ORTContext
@{
    
    ORTContextView context = (ORTContextView)Model.GetViewContext(ORTContextView.VIEWNAME);
    if (context == null) { Model.SaveViewContext(ORTContextView.VIEWNAME, context = new ORTContextView()); };
    
    List<SelectListItem> reportlist = new List<SelectListItem>();
    //{
        List<EGH01DB.ORTContext.ECORehabilitation> list = new List<EGH01DB.ORTContext.ECORehabilitation>();
        //if ( Helper.  .G  etListECOEvalution(Model,  ref list))
        //{
        //  foreach (CEQContext.ECOEvalution f in list)
        //  {

        //        reportlist.Add(
        //                        new SelectListItem { 
        //                                             Text = f.line,
        //                                             Value = f.id.ToString()
        //                                             }

        //                        );  
        //   }            
            
        // }
       //}
   
    //if (context.idevalution != null)
    //{
    //    SelectListItem si = reportlist.FirstOrDefault(s => s.Value.Equals(context.idevalution.ToString()));
    //    si.Selected = true; 
    
    //} 
   
}



@*@Html.Partial("_ConfirmChoiceEvalutionResult", Model)

@if (context.Regim == GEAContextView.REGIM.INIT)
{
  using (Html.BeginForm("ChoiceEvalutionResult", "EGHGEA"))  
  {

    <div class="box">
        <h3>Результаты оценки результатов прогнозирования</h3>
        <div class="boxdata" style="margin:5px;">
            @Html.DropDownList("ChoiceEvalutionResult.id", reportlist, new { size = reportlist.Count, style = "height:100px; width:97%; padding:5px;" })
        </div>
       
        @Html.Partial("_TypeLineMenu",new Menu(
                                                new Menu.MenuItem("Выбрать",    "ChoiceEvalutionResult.Choice", true),
                                                new Menu.MenuItem("Отказаться", "ChoiceEvalutionResult.Cancel", true)
                                               ))
    </div>
  }

}*@


