@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;

@model EGH01DB.ORTContext

@{

    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu head = new Menu(
                          new Menu.MenuItem("Создать", "SoilCleaningMethod.Create", false),
                          new Menu.MenuItem("Excel-формат", "SoilCleaningMethod.Excel", false)
                        );

    Menu create = new Menu(
                          new Menu.MenuItem("Создать", "SoilCleaningMethod.Create.Create", true),
                          new Menu.MenuItem("Отказаться", "SoilCleaningMethod.Create.Cancel", true)
                        );

}

@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHORT", Action = "SoilCleaningMethod", Menu = head })
@using (Html.BeginForm("SoilCleaningMethodCreate", "EGHORT"))
{


    <div class="box">
        <div class="boxdata">
            @*<p>
                <label class="boxdata-label-30">Код категории</label>
                <input class="boxdata-input-20" type="number" name="temperature" step="0.1" value=" " />
            </p>*@
            <p>
                <label class="boxdata-label-30">Наименование метода</label>
                <textarea class="boxdata-input-50" name="name" rows="2"></textarea>
            </p>
            <p>
                <label class="boxdata-label-30">Описание метода</label>
                <textarea class="boxdata-input-50" name="method_description" rows="2"></textarea>
            </p>
     </div>

        @Html.Partial("_TypeLineMenu", create)
    </div>
}



