@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;
@using EGH01DB.Types;
@model List<CadastreType>
@{
    Menu menu = new Menu(
                            new Menu.MenuItem("Удалить", "RiskObject.Delete", true),
                            new Menu.MenuItem("Изменить", "RiskObject.Update", true)
                           );

}
@foreach (EGH01DB.Types.CadastreType t in @Model)
{

    using (Html.BeginForm("RiskObject", "EGHCAI"))
    {
      <div class="box">
            <div class="boxdata">

                <p><label class="boxdata-label-30">
                    </label> @t.type_code.ToString() </p>
                <p><label class="boxdata-label-30">Наименование</label>@t.name </p> 
                <p><label class="boxdata-label-30">Значение коэффициента ПДК</label> @t.pdk_coef </p>             
            </div>
                 </div>

    }
}

 